DEVISE_SECRET=# generate with rake secret
RAILS_DEV_SECRET_KEY_BASE=# generate with rake secret
RAILS_TEST_SECRET_KEY_BASE=# generate with rake secret
PORT=3000

APP_NAME=# domain name to be used in automated email links - e.g. 'sleepersandkeepers.com'
