<nav>
  <div class="nav-wrapper">
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to 'Home', root_path  %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <% if !current_page?(new_user_session_path) %>
          <li><%= link_to 'Log in', new_user_session_path  %></li>
        <% end %>
        <% if !current_page?(new_user_registration_path) %>
          <li><%= link_to 'Register', new_user_registration_path  %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>
