<%= link_to league_path(@league), id: 'league-home-button', class: "btn btn-icon waves-effect waves-light" do %>
  <i class="material-icons">arrow_back</i>
<% end %>

<h3>Trade Picks</h3>
<%= react_component 'TradePicksForm', render(template: 'draft_picks/edit.json.jbuilder') %>
