<%= link_to league_path(@league), id: 'league-home-button', class: "btn btn-icon waves-effect waves-light" do %>
  <i class="material-icons">arrow_back</i>
<% end %>

<h3>Set Keepers</h3>
<%= react_component 'KeeperPage', render(template: 'keepers/edit.json.jbuilder') %>
