#confirm-modal {
  .modal-content {
    font-size: 1.4em;
    padding-top: 44px;
    text-align: center;
  }

  .modal-footer { font-size: 1.3em; }
}

#draft-ticker {
  .btn {
    float: left;
    margin-right: 1em;

    &:focus { background-color: $grey-darken-2; }
  }

  .btn-icon { margin-top: 16px; }

  #current-pick { font-weight: 500; }

  .pick-wrapper {
    float: left;
    padding: 0.1em;

    .pick {
      border: 1px solid $grey-lighten-1;
      font-size: 0.8em;
      padding: 0.5em;
    }
  }

  .row {
    &:first-of-type { margin-bottom: 0; }
  }
}

.player {
  height: 34px;
  td { padding: 5px; }
  .material-icons { margin-left: 5px; }
}

#player-modal {
  height: 360px;

  #player-photo {
    padding-top: 3em;
    text-align: center;

    img { padding-bottom: 1.5em; }
  }

  #pick-info {
    padding: 4.2em 6em 0 0;
    text-align: right;
  }
}
