#draft-ticker {
  .btn-icon { margin-top: 16px; }

  #current-pick { font-weight: 500; }

  .pick-wrapper {
    float: left;
    padding: 0.1em;

    .pick {
      border: 1px solid $grey-lighten-1;
      font-size: 0.8em;
      padding: 0.5em;
    }
  }

  .row {
    &:first-of-type { margin-bottom: 0; }
  }
}

.player {
  td { padding: 5px; }

  .material-icons {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: 7px;
  }
}
