#generate-picks-button { margin-top: 15px; }

.keeper {
  .material-icons {
    cursor: pointer;
    padding: 0 0 0 8px;
    position: relative;
    top: 7px;
  }
}

#league-home {
  h3 { margin: 3rem 0 4rem 0; }

  .btn { width: 240px; }
}

#league-home-button { margin-top: 1rem; }
