#generate-picks-button { margin-top: 15px; }

.keeper {
  .material-icons { padding: 0 0 0 8px; }
}

#league-home {
  h3 { margin: 3rem 0 4rem 0; }

  .btn {
    margin-top: 20px;
    width: 240px;
  }
}

#league-home-button { margin-top: 1rem; }
