a.remove {
  cursor: pointer;
}
ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

.active { background-color: yellow; }
.clear { clear: both; }

.draft-ticker {
  #on-the-clock {
    padding-bottom: 2em;
  }

  .pick {
    border: 1px solid black;
    float: left;
    padding: 0.5em;
    width: 11em;
  }
}
