@import url(//fonts.googleapis.com/icon?family=Material+Icons);

@import 'materialize';
@import 'variables';
@import 'buttons';
@import 'draft-results';
@import 'draft-room';
@import 'forms';
@import 'icons';
@import 'leagues';
@import 'keepers';
@import 'selects';
@import 'teams';

a { color: $grey-darken-1; }

h1 { margin: 4.2rem 0 3.4rem 0; }

nav { background-color: $grey-lighten-1; }

table {
  thead {
    background-color: $grey-lighten-3;
    border: none;
  }
}

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li { display: inline; }

.clear-floats { clear: both; }

.collection a.collection-item { color: $grey-darken-3; }

.container { margin-bottom: 2em; }

.warning { font-style: italic; }
