<%= link_to league_path(@league), id: 'league-home-button', class: "btn btn-icon waves-effect waves-light" do %>
  <i class="material-icons">arrow_back</i>
<% end %>

<h3><%= @league.name %> Draft</h3>
<%= react_component 'DraftRoom', render(template: 'drafts/show.json.jbuilder') %>
